:root {
    --dark-grey-background: #7E847F;
    --light-gray-background: #c8c7c7;
    --black-background: #2c2b2b;
    --accent: #7E847F;
    --text-dark: #1B1B1B;
    --text-light: #F6F6F6;
    --red-accent: #FF0000;
    --green-accent: #32CD32;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}